<%= image_tag("target_icon.png", :class => "target-icon") %>
<h3 class="welcome-info-header">CREATE NEW TARGET</h3>

<%= render 'create_form', target: @target %>

<%= image_tag("smilies.png", :class => "smilies") %>
