<div class="welcome-container">

  <div id='index-dynamic-container' class="index-dynamic-container">

  </div>

  <div id='map' class="google-map">

  </div>

</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApm3WsH_Hi85bAtrR8XvLMqMxkSO_RDbI&callback=initMap" async defer></script>
