
<nav class="navbar">
<%= render 'layouts/navigation' %>
</nav>

<div class="welcome-container">

  <div id='index-dynamic-container' class="index-dynamic-container"></div>
  <div id='map' class="google-map"></div>

</div>


