<div class="welcome-container">

  <div id='index-dynamic-container' class="index-dynamic-container"></div>
  <div id='map' class="google-map"></div>

</div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.googlemapsapikey %>&callback=initMap" async defer></script>
