<div class='sign-in welcome-container'>

	<div id='dynamic-container' class='welcome-info'>

		<%= render partial: 'devise/sessions/sign_in_form' %>

	</div>

	<div class='welcome-image'>
		<%= image_tag("right.jpg", :class => "right") %>
	</div>

</div>
