.topic-table {
  width: 257px;
  height: 39px;
  border: solid 0.5px #000000;
  display: inline-table;
}

.topic-table tr {
  border: solid 0.5px #000000;
  border-right: 0;
  border-left: 0;
}

.topic-table td {
  width: 257px;
  height: 39px;
  text-align: left;
  font-family: OpenSans, sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  padding: 0;
}

.selected {
  background-color: #f4f4f4;
}

.delete {
  background-color: red;
}

.field_with_errors {
  display: inline-block !important;
}

.topic-icon {
  width: 15px;
  height: 15px;
  object-fit: contain;
  margin-right: 10px;
}
